In [1]:
import os
import sys

import numpy as np
from scipy import sparse
import pandas as pd

In [2]:
dataset = 'dataset/ml-20m/ratings.csv'
output_dir = 'dataset/afterPre'
threshold = 3.5
min_uc = 5
min_sc = 0
n_heldout_users = 10000

raw_data = pd.read_csv(dataset, header=0)
raw_data = raw_data[raw_data['rating'] > threshold]
raw_data.head()

    userId  movieId  rating   timestamp
6        1      151     4.0  1094785734
7        1      223     4.0  1112485573
8        1      253     4.0  1112484940
9        1      260     4.0  1112484826
10       1      293     4.0  1112484703

In [3]:
def get_count(tp, id):
    playcount_groupbyid = tp[[id]].groupby(id, as_index=False)
    count = playcount_groupbyid.size()
    return count


def filter_triplets(tp, min_uc=min_uc, min_sc=min_sc): 
    if min_sc > 0:
        itemcount = get_count(tp, 'movieId')
        itemcount = itemcount['movieId']
        tp = tp[tp['movieId'].isin(itemcount.index[itemcount >= min_sc])]
    
    if min_uc > 0:
        usercount = get_count(tp, 'userId')
        usercount = usercount['userId']
        tp = tp[tp['userId'].isin(usercount.index[usercount >= min_uc])]
    
    usercount, itemcount = get_count(tp, 'userId'), get_count(tp, 'movieId') 
    return tp, usercount, itemcount

In [4]:
itemcount = get_count(raw_data, 'movieId')
itemcount

       movieId   size
0            1  33294
1            2   7272
2            3   4015
3            4    694
4            5   3288
...        ...    ...
20715   131250      1
20716   131252      1
20717   131254      1
20718   131256      1
20719   131262      1

[20720 rows x 2 columns]

In [5]:
itemcount = itemcount['movieId']
itemcount

0             1
1             2
2             3
3             4
4             5
          ...
20715    131250
20716    131252
20717    131254
20718    131256
20719    131262
Name: movieId, Length: 20720, dtype: int64

In [6]:
raw_data = raw_data[raw_data['movieId'].isin(itemcount.index[itemcount >= min_sc])]
print(raw_data)

          userId  movieId  rating   timestamp
6              1      151     4.0  1094785734
7              1      223     4.0  1112485573
8              1      253     4.0  1112484940
9              1      260     4.0  1112484826
10             1      293     4.0  1112484703
...          ...      ...     ...         ...
20000175  138493     8636     4.0  1258135133
20000177  138493     8884     4.0  1255817148
20000178  138493     8905     5.0  1255856919
20000179  138493     8907     4.0  1255816947
20000181  138493     8973     5.0  1255811257

[8861522 rows x 4 columns]

In [16]:
raw_data, user_activity, item_popularity = filter_triplets(raw_data)

sparsity = 1. * raw_data.shape[0] / (user_activity.shape[0] * item_popularity.shape[0])

print("After filtering, there are %d watching events from %d users and %d movies (sparsity: %.3f%%)" % 
      (raw_data.shape[0], user_activity.shape[0], item_popularity.shape[0], sparsity * 100))

After filtering, there are 8844835 watching events from 137964 users and 8242 movies (sparsity: 0.778%)

In [17]:
unique_uid = user_activity.index

np.random.seed(98765)
idx_perm = np.random.permutation(unique_uid.size)
unique_uid = unique_uid[idx_perm]

n_users = unique_uid.size

tr_users = unique_uid[:(n_users - n_heldout_users * 2)]
vd_users = unique_uid[(n_users - n_heldout_users * 2): (n_users - n_heldout_users)]
te_users = unique_uid[(n_users - n_heldout_users):]

train_plays = raw_data.loc[raw_data['userId'].isin(tr_users)]

unique_sid = pd.unique(train_plays['movieId'])

show2id = dict((sid, i) for (i, sid) in enumerate(unique_sid))
profile2id = dict((pid, i) for (i, pid) in enumerate(unique_uid))

In [28]:
profile2id = dict((pid, i) for (i, pid) in enumerate(unique_uid))
profile2id

{116813: 0,
 39630: 1,
 112214: 2,
 60683: 3,
 110911: 4,
 124910: 5,
 71585: 6,
 8359: 7,
 109411: 8,
 23359: 9,
 120163: 10,
 108432: 11,
 127224: 12,
 99183: 13,
 131257: 14,
 41973: 15,
 5785: 16,
 22994: 17,
 118286: 18,
 135793: 19,
 33205: 20,
 55988: 21,
 132425: 22,
 16725: 23,
 4436: 24,
 90137: 25,
 14496: 26,
 132055: 27,
 126512: 28,
 74236: 29,
 112897: 30,
 70077: 31,
 784: 32,
 133455: 33,
 47579: 34,
 80421: 35,
 135294: 36,
 127597: 37,
 103148: 38,
 67329: 39,
 90830: 40,
 9543: 41,
 95399: 42,
 54705: 43,
 79358: 44,
 128180: 45,
 56900: 46,
 74358: 47,
 13240: 48,
 66251: 49,
 118937: 50,
 70280: 51,
 91126: 52,
 116628: 53,
 45622: 54,
 99388: 55,
 43226: 56,
 88275: 57,
 118008: 58,
 69689: 59,
 118564: 60,
 89947: 61,
 113684: 62,
 82403: 63,
 93038: 64,
 97870: 65,
 63281: 66,
 25540: 67,
 30648: 68,
 11659: 69,
 101980: 70,
 69053: 71,
 118255: 72,
 63069: 73,
 36146: 74,
 73206: 75,
 98831: 76,
 56754: 77,
 5685: 78,
 39677: 79,
 4724: 80,
 121774: 81,
 136595: 82,
 116908: 83,
 70957: 84,
 118391: 85,
 125799: 86,
 103630: 87,
 88322: 88,
 27628: 89,
 122768: 90,
 38662: 91,
 72704: 92,
 25976: 93,
 128399: 94,
 60399: 95,
 110894: 96,
 2293: 97,
 22702: 98,
 64027: 99,
 38189: 100,
 13072: 101,
 136640: 102,
 70206: 103,
 12692: 104,
 130929: 105,
 79612: 106,
 29567: 107,
 107241: 108,
 104899: 109,
 97043: 110,
 60901: 111,
 8868: 112,
 25983: 113,
 19173: 114,
 17589: 115,
 65158: 116,
 94511: 117,
 29184: 118,
 776: 119,
 96335: 120,
 109895: 121,
 9830: 122,
 34237: 123,
 91175: 124,
 128034: 125,
 96828: 126,
 11281: 127,
 24580: 128,
 16978: 129,
 83398: 130,
 12567: 131,
 130883: 132,
 83634: 133,
 62493: 134,
 124907: 135,
 91809: 136,
 77846: 137,
 76464: 138,
 59838: 139,
 99663: 140,
 83363: 141,
 117181: 142,
 50438: 143,
 20108: 144,
 82693: 145,
 127879: 146,
 31186: 147,
 104630: 148,
 29391: 149,
 86568: 150,
 57917: 151,
 1988: 152,
 9888: 153,
 16863: 154,
 57321: 155,
 23365: 156,
 20325: 157,
 90834: 158,
 35160: 159,
 111513: 160,
 965: 161,
 11717: 162,
 132523: 163,
 123248: 164,
 92239: 165,
 14043: 166,
 74672: 167,
 78471: 168,
 43826: 169,
 45804: 170,
 112249: 171,
 39509: 172,
 31414: 173,
 93608: 174,
 133481: 175,
 31179: 176,
 6987: 177,
 112705: 178,
 82190: 179,
 40378: 180,
 9398: 181,
 46296: 182,
 86799: 183,
 69915: 184,
 81785: 185,
 11160: 186,
 4248: 187,
 71854: 188,
 46431: 189,
 83344: 190,
 52262: 191,
 65637: 192,
 43260: 193,
 67999: 194,
 27197: 195,
 105397: 196,
 63572: 197,
 119338: 198,
 36610: 199,
 109383: 200,
 133968: 201,
 10430: 202,
 115028: 203,
 93232: 204,
 39895: 205,
 65363: 206,
 79549: 207,
 22660: 208,
 70684: 209,
 92524: 210,
 112553: 211,
 137791: 212,
 135762: 213,
 98219: 214,
 90126: 215,
 37015: 216,
 80201: 217,
 90778: 218,
 109518: 219,
 18829: 220,
 50990: 221,
 37465: 222,
 10088: 223,
 75157: 224,
 122594: 225,
 118934: 226,
 33277: 227,
 98070: 228,
 16898: 229,
 100815: 230,
 42262: 231,
 92891: 232,
 11235: 233,
 91625: 234,
 14906: 235,
 94061: 236,
 123218: 237,
 113954: 238,
 60714: 239,
 8937: 240,
 27952: 241,
 890: 242,
 107472: 243,
 41862: 244,
 4288: 245,
 108166: 246,
 118042: 247,
 112015: 248,
 24566: 249,
 104126: 250,
 132180: 251,
 20676: 252,
 115906: 253,
 136019: 254,
 91015: 255,
 41725: 256,
 76332: 257,
 86671: 258,
 19920: 259,
 112758: 260,
 41556: 261,
 44213: 262,
 103229: 263,
 110178: 264,
 76565: 265,
 59649: 266,
 53360: 267,
 124966: 268,
 2829: 269,
 125322: 270,
 70849: 271,
 116165: 272,
 135476: 273,
 56738: 274,
 718: 275,
 88073: 276,
 121959: 277,
 45873: 278,
 53: 279,
 14227: 280,
 107232: 281,
 130018: 282,
 107545: 283,
 47923: 284,
 24828: 285,
 72691: 286,
 47619: 287,
 28229: 288,
 6838: 289,
 130436: 290,
 108049: 291,
 30649: 292,
 109473: 293,
 84330: 294,
 109245: 295,
 40806: 296,
 74727: 297,
 117560: 298,
 97289: 299,
 137021: 300,
 124296: 301,
 36591: 302,
 10882: 303,
 121553: 304,
 137807: 305,
 116316: 306,
 43256: 307,
 59773: 308,
 57051: 309,
 50531: 310,
 54242: 311,
 31515: 312,
 43009: 313,
 50943: 314,
 102955: 315,
 72387: 316,
 28956: 317,
 30815: 318,
 76393: 319,
 50934: 320,
 70935: 321,
 41275: 322,
 109153: 323,
 52312: 324,
 54128: 325,
 137363: 326,
 31058: 327,
 18810: 328,
 4755: 329,
 92144: 330,
 113018: 331,
 70291: 332,
 25582: 333,
 117193: 334,
 74130: 335,
 2008: 336,
 57669: 337,
 55213: 338,
 8220: 339,
 84178: 340,
 49262: 341,
 136813: 342,
 5535: 343,
 92251: 344,
 88853: 345,
 38519: 346,
 110862: 347,
 121713: 348,
 36957: 349,
 97357: 350,
 84215: 351,
 121145: 352,
 90616: 353,
 128742: 354,
 87803: 355,
 65028: 356,
 134847: 357,
 126063: 358,
 114007: 359,
 62320: 360,
 118815: 361,
 101930: 362,
 90070: 363,
 51714: 364,
 43158: 365,
 29177: 366,
 37612: 367,
 125950: 368,
 102209: 369,
 63738: 370,
 94719: 371,
 52621: 372,
 12136: 373,
 16494: 374,
 83311: 375,
 112737: 376,
 101042: 377,
 82801: 378,
 97955: 379,
 104074: 380,
 76609: 381,
 43475: 382,
 11465: 383,
 111852: 384,
 52234: 385,
 112872: 386,
 80561: 387,
 100937: 388,
 117236: 389,
 80699: 390,
 135517: 391,
 11396: 392,
 20095: 393,
 47237: 394,
 22536: 395,
 103025: 396,
 44414: 397,
 78107: 398,
 138: 399,
 55108: 400,
 129585: 401,
 38076: 402,
 105960: 403,
 7762: 404,
 96810: 405,
 50661: 406,
 107639: 407,
 20524: 408,
 61319: 409,
 74709: 410,
 66124: 411,
 18266: 412,
 16079: 413,
 115618: 414,
 137489: 415,
 22295: 416,
 80962: 417,
 1273: 418,
 67289: 419,
 99408: 420,
 80848: 421,
 9984: 422,
 33765: 423,
 14361: 424,
 40856: 425,
 137354: 426,
 58808: 427,
 121543: 428,
 52072: 429,
 59814: 430,
 120170: 431,
 67056: 432,
 33603: 433,
 125641: 434,
 20773: 435,
 61081: 436,
 48056: 437,
 102523: 438,
 111922: 439,
 59578: 440,
 45940: 441,
 19218: 442,
 131780: 443,
 63327: 444,
 46665: 445,
 28406: 446,
 61410: 447,
 120835: 448,
 10272: 449,
 129703: 450,
 29525: 451,
 98667: 452,
 87002: 453,
 29631: 454,
 24577: 455,
 131795: 456,
 44733: 457,
 115429: 458,
 109217: 459,
 71232: 460,
 30837: 461,
 113454: 462,
 91248: 463,
 125865: 464,
 106290: 465,
 68312: 466,
 16973: 467,
 108908: 468,
 46859: 469,
 35093: 470,
 120468: 471,
 37117: 472,
 64991: 473,
 22140: 474,
 94786: 475,
 102827: 476,
 97540: 477,
 110130: 478,
 30642: 479,
 98044: 480,
 59539: 481,
 132073: 482,
 51569: 483,
 95817: 484,
 13319: 485,
 74381: 486,
 76861: 487,
 29695: 488,
 5353: 489,
 77466: 490,
 95172: 491,
 99715: 492,
 49972: 493,
 88634: 494,
 113129: 495,
 111737: 496,
 110408: 497,
 126815: 498,
 118696: 499,
 12300: 500,
 14427: 501,
 122631: 502,
 61786: 503,
 136313: 504,
 66222: 505,
 55840: 506,
 71591: 507,
 76557: 508,
 64464: 509,
 97418: 510,
 33876: 511,
 17474: 512,
 19416: 513,
 71754: 514,
 12528: 515,
 2762: 516,
 17909: 517,
 112329: 518,
 24303: 519,
 48924: 520,
 7084: 521,
 115113: 522,
 108847: 523,
 40242: 524,
 127454: 525,
 86034: 526,
 45913: 527,
 64091: 528,
 76145: 529,
 54587: 530,
 2568: 531,
 45327: 532,
 107642: 533,
 112992: 534,
 70549: 535,
 120867: 536,
 63235: 537,
 127305: 538,
 24183: 539,
 109072: 540,
 131854: 541,
 5721: 542,
 124069: 543,
 95093: 544,
 16163: 545,
 62294: 546,
 28220: 547,
 55771: 548,
 71110: 549,
 29711: 550,
 115219: 551,
 121041: 552,
 110756: 553,
 117869: 554,
 77281: 555,
 110321: 556,
 84165: 557,
 62803: 558,
 88643: 559,
 112058: 560,
 106075: 561,
 73783: 562,
 131415: 563,
 79652: 564,
 88448: 565,
 107318: 566,
 80268: 567,
 37827: 568,
 44078: 569,
 14611: 570,
 15190: 571,
 99129: 572,
 6435: 573,
 52481: 574,
 48920: 575,
 12507: 576,
 90300: 577,
 48366: 578,
 134372: 579,
 25876: 580,
 441: 581,
 30299: 582,
 67926: 583,
 50064: 584,
 86191: 585,
 49248: 586,
 15316: 587,
 66329: 588,
 11048: 589,
 42164: 590,
 29357: 591,
 132540: 592,
 38986: 593,
 46012: 594,
 45429: 595,
 97812: 596,
 69662: 597,
 105726: 598,
 43221: 599,
 97863: 600,
 18303: 601,
 101843: 602,
 38792: 603,
 81734: 604,
 35517: 605,
 65385: 606,
 68272: 607,
 70547: 608,
 54438: 609,
 61072: 610,
 35666: 611,
 72872: 612,
 46932: 613,
 52695: 614,
 106148: 615,
 87732: 616,
 111197: 617,
 117988: 618,
 74802: 619,
 82846: 620,
 37205: 621,
 16683: 622,
 112660: 623,
 134705: 624,
 37014: 625,
 72338: 626,
 45348: 627,
 20473: 628,
 72265: 629,
 41678: 630,
 934: 631,
 17249: 632,
 68466: 633,
 131307: 634,
 124915: 635,
 36751: 636,
 11366: 637,
 116524: 638,
 119468: 639,
 84864: 640,
 114710: 641,
 118489: 642,
 32821: 643,
 99190: 644,
 52366: 645,
 135460: 646,
 15558: 647,
 1753: 648,
 130253: 649,
 53887: 650,
 99144: 651,
 69919: 652,
 4012: 653,
 9966: 654,
 122211: 655,
 1558: 656,
 61285: 657,
 48578: 658,
 16555: 659,
 59065: 660,
 40657: 661,
 19439: 662,
 20231: 663,
 124299: 664,
 121261: 665,
 23731: 666,
 38088: 667,
 114584: 668,
 26579: 669,
 7516: 670,
 76106: 671,
 47040: 672,
 73597: 673,
 91042: 674,
 92603: 675,
 58443: 676,
 97184: 677,
 32676: 678,
 33595: 679,
 58364: 680,
 60603: 681,
 17593: 682,
 94304: 683,
 35477: 684,
 31400: 685,
 60435: 686,
 63335: 687,
 118715: 688,
 99243: 689,
 78956: 690,
 39389: 691,
 14164: 692,
 84211: 693,
 57193: 694,
 135699: 695,
 110502: 696,
 137931: 697,
 111374: 698,
 96318: 699,
 93797: 700,
 100993: 701,
 108008: 702,
 57899: 703,
 93906: 704,
 29250: 705,
 41159: 706,
 24094: 707,
 99891: 708,
 44469: 709,
 78238: 710,
 27062: 711,
 57869: 712,
 19217: 713,
 27690: 714,
 86319: 715,
 89042: 716,
 5434: 717,
 85345: 718,
 111053: 719,
 5854: 720,
 101448: 721,
 60903: 722,
 24186: 723,
 34123: 724,
 6063: 725,
 103196: 726,
 131242: 727,
 111866: 728,
 51284: 729,
 101834: 730,
 73795: 731,
 100218: 732,
 18784: 733,
 65864: 734,
 37740: 735,
 102049: 736,
 98781: 737,
 39160: 738,
 121158: 739,
 42989: 740,
 67297: 741,
 128390: 742,
 119531: 743,
 113998: 744,
 26218: 745,
 128853: 746,
 35765: 747,
 49838: 748,
 22898: 749,
 122825: 750,
 31654: 751,
 55016: 752,
 4743: 753,
 7136: 754,
 15335: 755,
 67942: 756,
 92127: 757,
 66172: 758,
 94952: 759,
 71677: 760,
 51318: 761,
 87808: 762,
 116191: 763,
 48084: 764,
 46773: 765,
 93863: 766,
 67224: 767,
 33020: 768,
 63781: 769,
 8273: 770,
 69497: 771,
 118264: 772,
 15118: 773,
 85165: 774,
 47602: 775,
 50745: 776,
 112984: 777,
 85253: 778,
 115216: 779,
 102214: 780,
 108901: 781,
 17480: 782,
 7562: 783,
 3726: 784,
 106796: 785,
 5364: 786,
 10019: 787,
 106200: 788,
 85205: 789,
 59326: 790,
 14773: 791,
 77059: 792,
 1479: 793,
 33044: 794,
 121913: 795,
 33767: 796,
 76299: 797,
 32323: 798,
 12696: 799,
 38529: 800,
 684: 801,
 137960: 802,
 100414: 803,
 86160: 804,
 87737: 805,
 119599: 806,
 128970: 807,
 13983: 808,
 111862: 809,
 8818: 810,
 48: 811,
 95109: 812,
 123453: 813,
 62386: 814,
 55753: 815,
 24300: 816,
 29777: 817,
 58626: 818,
 66464: 819,
 77177: 820,
 73700: 821,
 120459: 822,
 5417: 823,
 47088: 824,
 94916: 825,
 117925: 826,
 53666: 827,
 116096: 828,
 127979: 829,
 86048: 830,
 54458: 831,
 14928: 832,
 72063: 833,
 77868: 834,
 80897: 835,
 50168: 836,
 30548: 837,
 72454: 838,
 47078: 839,
 110543: 840,
 64089: 841,
 13735: 842,
 62480: 843,
 41061: 844,
 46033: 845,
 94103: 846,
 46558: 847,
 40803: 848,
 47702: 849,
 16801: 850,
 22266: 851,
 80546: 852,
 136919: 853,
 130707: 854,
 105889: 855,
 47426: 856,
 78129: 857,
 37018: 858,
 129486: 859,
 39720: 860,
 19550: 861,
 71828: 862,
 55556: 863,
 79398: 864,
 128400: 865,
 42265: 866,
 77138: 867,
 70715: 868,
 83770: 869,
 91945: 870,
 108306: 871,
 121907: 872,
 62138: 873,
 124429: 874,
 102893: 875,
 87951: 876,
 69351: 877,
 129779: 878,
 37590: 879,
 38287: 880,
 2839: 881,
 10133: 882,
 8953: 883,
 98532: 884,
 129965: 885,
 77540: 886,
 71185: 887,
 72000: 888,
 72869: 889,
 130218: 890,
 78659: 891,
 93879: 892,
 9683: 893,
 4447: 894,
 55439: 895,
 93178: 896,
 41730: 897,
 1440: 898,
 91659: 899,
 110523: 900,
 68936: 901,
 91054: 902,
 122812: 903,
 30893: 904,
 106849: 905,
 22947: 906,
 10537: 907,
 42860: 908,
 86172: 909,
 46601: 910,
 24164: 911,
 6175: 912,
 40382: 913,
 88089: 914,
 18509: 915,
 67200: 916,
 118465: 917,
 3724: 918,
 5544: 919,
 84955: 920,
 7163: 921,
 124829: 922,
 33232: 923,
 37860: 924,
 116707: 925,
 75964: 926,
 106298: 927,
 44319: 928,
 123845: 929,
 106958: 930,
 38825: 931,
 123122: 932,
 33519: 933,
 134123: 934,
 77449: 935,
 130185: 936,
 261: 937,
 55519: 938,
 120383: 939,
 9262: 940,
 107084: 941,
 42163: 942,
 112609: 943,
 115669: 944,
 123489: 945,
 82826: 946,
 104100: 947,
 91335: 948,
 137181: 949,
 21609: 950,
 86239: 951,
 95768: 952,
 104309: 953,
 12362: 954,
 15995: 955,
 28861: 956,
 24352: 957,
 91231: 958,
 61756: 959,
 20562: 960,
 10690: 961,
 21608: 962,
 1155: 963,
 9150: 964,
 26980: 965,
 135795: 966,
 84519: 967,
 37429: 968,
 117038: 969,
 54732: 970,
 135031: 971,
 28960: 972,
 21033: 973,
 58204: 974,
 19506: 975,
 87054: 976,
 24735: 977,
 68752: 978,
 89779: 979,
 35390: 980,
 85933: 981,
 55216: 982,
 44019: 983,
 6071: 984,
 101533: 985,
 13604: 986,
 75397: 987,
 46359: 988,
 5678: 989,
 36494: 990,
 134569: 991,
 19444: 992,
 76315: 993,
 19942: 994,
 52874: 995,
 45709: 996,
 97526: 997,
 2706: 998,
 114688: 999,
 ...}

In [29]:
if not os.path.exists(output_dir):
    os.makedirs(output_dir)

with open(os.path.join(output_dir, 'unique_sid.txt'), 'w') as f:
    for sid in unique_sid:
        f.write('%s\n' % sid)
        
with open(os.path.join(output_dir, 'unique_uid.txt'), 'w') as f:
    for uid in unique_uid:
        f.write('%s\n' % uid)


def split_train_test_proportion(data, test_prop=0.2):
    data_grouped_by_user = data.groupby('userId')
    tr_list, te_list = list(), list()

    np.random.seed(98765)

    for i, (_, group) in enumerate(data_grouped_by_user):
        n_items_u = len(group)

        if n_items_u >= 5:
            idx = np.zeros(n_items_u, dtype='bool')
            idx[np.random.choice(n_items_u, size=int(test_prop * n_items_u), replace=False).astype('int64')] = True

            tr_list.append(group[np.logical_not(idx)])
            te_list.append(group[idx])
        else:
            tr_list.append(group)

        if i % 1000 == 0:
            print("%d users sampled" % i)
            sys.stdout.flush()

    data_tr = pd.concat(tr_list)
    data_te = pd.concat(te_list)
    
    return data_tr, data_te

In [30]:
vad_plays = raw_data.loc[raw_data['userId'].isin(vd_users)]
vad_plays = vad_plays.loc[vad_plays['movieId'].isin(unique_sid)]

vad_plays_tr, vad_plays_te = split_train_test_proportion(vad_plays)

test_plays = raw_data.loc[raw_data['userId'].isin(te_users)]
test_plays = test_plays.loc[test_plays['movieId'].isin(unique_sid)]

test_plays_tr, test_plays_te = split_train_test_proportion(test_plays)

def numerize(tp):
    uid = list(map(lambda x: profile2id[x], tp['userId']))
    sid = list(map(lambda x: show2id[x], tp['movieId']))
    return pd.DataFrame(data={'uid': uid, 'sid': sid}, columns=['uid', 'sid'])


train_data = numerize(train_plays)
train_data.to_csv(os.path.join(output_dir, 'train.csv'), index=False)

vad_data_tr = numerize(vad_plays_tr)
vad_data_tr.to_csv(os.path.join(output_dir, 'validation_tr.csv'), index=False)

vad_data_te = numerize(vad_plays_te)
vad_data_te.to_csv(os.path.join(output_dir, 'validation_te.csv'), index=False)

test_data_tr = numerize(test_plays_tr)
test_data_tr.to_csv(os.path.join(output_dir, 'test_tr.csv'), index=False)

test_data_te = numerize(test_plays_te)
test_data_te.to_csv(os.path.join(output_dir, 'test_te.csv'), index=False)

0 users sampled
1000 users sampled
2000 users sampled
3000 users sampled
4000 users sampled
5000 users sampled
6000 users sampled
7000 users sampled
8000 users sampled
9000 users sampled
0 users sampled
1000 users sampled
2000 users sampled
3000 users sampled
4000 users sampled
5000 users sampled
6000 users sampled
7000 users sampled
8000 users sampled
9000 users sampled